@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Inter:wght@400;700&display=swap');

#Main .page-title, .main-content h1, .page-heading h1 {font-family: 'Open Sans', sans-serif !important;}
#Main h2, #Main h3, #Main h4, #Main h5, #Main h6 {font-family: 'Open Sans', sans-serif !important;}

#about .page-title, .main-content h1, .page-heading h1 {font-family: 'Inter', sans-serif !important;}
#index h2, #index h3, #index h4, #index h5, #index h6 {font-family: 'Inter', sans-serif !important;}
