@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Inter:wght@400;700&display=swap');

#index h1, #index .page-title { font-family: 'Open Sans', sans-serif !important; }
#index h2, #index h3, #index h4, #index h5, #index h6 { font-family: 'Open Sans', sans-serif !important; }
#index p, { font-family: 'Open Sans', sans-serif !important; }

#about h1, #about.page-title { font-family: 'Inter', sans-serif !important; }
#about h2, #about h3, #about h4, #about h5, #about h6 { font-family: 'Inter', sans-serif !important; }
#about p, { font-family: 'Open Sans', sans-serif !important; }
