@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&family=Inter:wght@400;700&display=swap');

#index .page-title, .main-content h1, .page-heading h1 {font-family: 'Work Sans', sans-serif !important;}
#index h2, #index h3, #index h4, #index h5, #index h6 {font-family: 'Work Sans', sans-serif !important;}

#about .page-title, .main-content h1, .page-heading h1 {font-family: 'Inter', sans-serif !important;}
#index h2, #index h3, #index h4, #index h5, #index h6 {font-family: 'Inter', sans-serif !important;}
